name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Cordova
        run: npm install -g cordova

      - name: Create Android Project
        run: |
          cordova create build-app com.kimo.gold GoldApp
          cd build-app
          cordova platform add android
          cp -r ../index.html www/
          cordova build android --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyGoldApp-APK
          path: build-app/platforms/android/app/build/outputs/apk/release/*.apk
